[submodule "External/DirectXTK"]
	path = External/DirectXTK
	url = https://github.com/Microsoft/DirectXTK.git

[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
	
[submodule "External/ImGuizmo"]
	path = External/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
